body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://images2.alphacoders.com/111/thumb-1920-1113054.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

h3 {
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
}

.icon {
  width: 100px;
}

.page-title {
  color: white;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 60px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}
